<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf8">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <style>
  body
  {
  	background-image: url('/img/brushed.png');
  }
  </style>
</head>
<body>
	<header>
  </header>
    <%= yield %>
  <footer>
  </footer>
</body>
</html>